.es-input-wrapper {
  .es-input-label {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.31px;
    color: #787878;
    margin-bottom: 7px;

    sup {
      color: #ff4d4f;
    }
  }

  .es-input-error {
    font-size: 12px;
    color: #ff4d4f;
    margin-top: 4px;

    sup {
      margin-left: 2px;
    }
  }
}
